In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pyautogui
import time
import os
import shutil
from selenium.webdriver.chrome.options import Options
import pandas as pd

In [2]:
driver = webdriver.Chrome(executable_path=r'C:\Users\sarav\Desktop\xyz88-master\chromedriver.exe')

In [3]:
driver.get('https://eclaim3.emcsthai.com/esurvey/frmLogin.aspx')
driver.maximize_window()
dcwh = driver.current_window_handle
driver.find_element_by_id('txtUserName').send_keys('noppadol@se.co.th')
driver.find_element_by_id('txtPassWord').send_keys('Somboonkul1501*')
driver.find_element_by_id('imbLogin').click()
driver.find_element_by_id('btnEnter').click()

In [4]:
allhandle_windows = driver.window_handles
for handle in allhandle_windows:
    if handle != dcwh:
        driver.switch_to_window(dcwh)

C:\Users\sarav\AppData\Local\Temp/ipykernel_11740/3003755061.py:4: DeprecationWarning: use driver.switch_to.window instead
  driver.switch_to_window(dcwh)

In [6]:
time.sleep(2)
driver.find_element_by_id('dgvInbox_ctl03_sname').click()

In [33]:
all_data = []
all_data = driver.find_elements_by_xpath('//*[@id="dgvList"]/tbody/tr')

In [34]:
data = []
for count, value in enumerate(all_data):
    if count > 0 and count < 16:
        data.append(value.text)
        data_frame = pd.DataFrame(data)
        data_frame.columns = ['Table']

        df_splite = data_frame.Table.str.extract('(\d\d)(\D{6})(\d{4})(\s)(\d\d\W\d\d)(\s)(\D\d{11})')
        df_splite.columns = ['Day', 'Month', 'Year','blank1', 'Time', 'blank2', 'Claim']
        df_s = df_splite.drop(columns=['blank1', 'blank2'])

        d = df_s['Day'].values
        m = df_s['Month'].values
        t = df_s['Time'].values
        y = df_s['Year'].values
        c = df_s['Claim'].values

        d_list = list(df_s['Day'].values)
        m_list = list(df_s['Month'].values)
        t_list = list(df_s['Time'].values)
        y_list = list(df_s['Year'].values)
        c_list = list(df_s['Claim'].values)

In [38]:
df_s

   Day   Month  Year   Time         Claim
0   01  /พ.ย./  2564  15:37  S68421110124
1   01  /พ.ย./  2564  15:35  S68421110107
2   01  /พ.ย./  2564  15:33  S68421103739
3   01  /พ.ย./  2564  15:29  S68421110086
4   01  /พ.ย./  2564  15:27  S68421103737
5   01  /พ.ย./  2564  15:25  S68421103730
6   01  /พ.ย./  2564  15:24  S68421102888
7   01  /พ.ย./  2564  15:24  S68421110116
8   01  /พ.ย./  2564  15:22  S68421110064
9   01  /พ.ย./  2564  15:22  S68421103734
10  01  /พ.ย./  2564  15:20  S68421103824
11  01  /พ.ย./  2564  15:20  S68421110101
12  01  /พ.ย./  2564  15:19  S68421103728
13  01  /พ.ย./  2564  15:17  S68421110111
14  01  /พ.ย./  2564  15:13  S68421103727

In [43]:
day = '04'
month = '/ก.ย./'
year = '2564'

In [37]:
for cc,vv in enumerate(d_list):
    if day == vv  and month == :
        print('=')

=
=
=
=
=
=
=
=
=
=
=
=
=
=
=

In [51]:
df_s.Day == day

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: Day, dtype: bool