In [55]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pyautogui
import time
import os
import shutil
from selenium.webdriver.chrome.options import Options
import pandas as pd

In [56]:
driver = webdriver.Chrome(executable_path=r'C:\Users\sarav\Desktop\xyz88-master\chromedriver.exe')

In [57]:
driver.get('https://eclaim3.emcsthai.com/esurvey/frmLogin.aspx')
driver.maximize_window()
dcwh = driver.current_window_handle
driver.find_element_by_id('txtUserName').send_keys('noppadol@se.co.th')
driver.find_element_by_id('txtPassWord').send_keys('Sesurvey1501*')
driver.find_element_by_id('imbLogin').click()
driver.find_element_by_id('btnEnter').click()

In [58]:
allhandle_windows = driver.window_handles
for handle in allhandle_windows:
    if handle != dcwh:
        driver.switch_to_window(dcwh)

C:\Users\sarav\AppData\Local\Temp/ipykernel_2516/3003755061.py:4: DeprecationWarning: use driver.switch_to.window instead
  driver.switch_to_window(dcwh)

In [59]:
time.sleep(2)
driver.find_element_by_id('dgvInbox_ctl03_sname').click()

In [65]:
data = driver.find_elements_by_xpath('//*[@id="dgvList"]/tbody/tr')

In [66]:
all_data = []
for count , value in enumerate(data):
    if count > 0 and count < 16:
        all_data.append(value.text)
        data_frame = pd.DataFrame(all_data)
        data_frame.columns = ['Table']

        df_splite = data_frame.Table.str.extract('(\d\d)(\D{6})(\d{4})(\s)(\d\d\W\d\d)(\s)(\D\d{11})')
        df_splite.columns = ['Day', 'Month', 'Year','blank1', 'Time', 'blank2', 'Claim']
        df_s = df_splite.drop(columns=['blank1', 'blank2'])

        d = df_s['Day'].values
        m = df_s['Month'].values
        t = df_s['Time'].values
        y = df_s['Year'].values
        c = df_s['Claim'].values

        d_list = list(df_s['Day'].values)
        m_list = list(df_s['Month'].values)
        t_list = list(df_s['Time'].values)
        y_list = list(df_s['Year'].values)
        c_list = list(df_s['Claim'].values)

In [67]:
day = '18'
month = '/ก.ย./'
year = '2564'

In [68]:
df_s

   Day   Month  Year   Time         Claim
0   18  /ต.ค./  2564  08:35  S68421011183
1   18  /ต.ค./  2564  08:25  S68421100303
2   18  /ต.ค./  2564  08:15  S68421100189
3   18  /ต.ค./  2564  08:04  S68421100449
4   18  /ต.ค./  2564  05:31  S68421101797
5   18  /ต.ค./  2564  05:28  S68421101799
6   18  /ต.ค./  2564  05:22  S68421101798
7   17  /ต.ค./  2564  23:31  S68421101771
8   17  /ต.ค./  2564  23:19  S68421101769
9   17  /ต.ค./  2564  23:04  S68421101768
10  17  /ต.ค./  2564  22:35  S68421101765
11  17  /ต.ค./  2564  20:52  S68421101752
12  17  /ต.ค./  2564  20:48  S68421101748
13  17  /ต.ค./  2564  20:44  S68421101746
14  17  /ต.ค./  2564  20:41  S68421101740

In [69]:
for count , value in enumerate(d_list):
    if value == '18':
        print(count,value)

0 18
1 18
2 18
3 18
4 18
5 18
6 18

In [1]:
print('Testgit')

Testgit