In [2]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pyautogui
import time
import os
import shutil
from selenium.webdriver.chrome.options import Options
import pandas as pd
import numpy as np

In [2]:
driver = webdriver.Chrome(executable_path=r'C:\Users\sarav\Desktop\xyz88-master\chromedriver.exe')

In [3]:
driver.get('https://eclaim3.emcsthai.com/esurvey/frmLogin.aspx')
driver.maximize_window()
dcwh = driver.current_window_handle
driver.find_element_by_id('txtUserName').send_keys('noppadol@se.co.th')
driver.find_element_by_id('txtPassWord').send_keys('Somboonkul1501*')
driver.find_element_by_id('imbLogin').click()
driver.find_element_by_id('btnEnter').click()

In [4]:
allhandle_windows = driver.window_handles
for handle in allhandle_windows:
    if handle != dcwh:
        driver.switch_to_window(dcwh)

C:\Users\sarav\AppData\Local\Temp/ipykernel_2444/3003755061.py:4: DeprecationWarning: use driver.switch_to.window instead
  driver.switch_to_window(dcwh)

In [5]:
time.sleep(2)
driver.find_element_by_id('dgvInbox_ctl03_sname').click()

In [6]:
all_data = []
all_data = driver.find_elements_by_xpath('//*[@id="dgvList"]/tbody/tr')

In [7]:
data = []
for count, value in enumerate(all_data):
    if count > 0 and count < 16:
        data.append(value.text)
        data_frame = pd.DataFrame(data)
        data_frame.columns = ['Table']

        df_splite = data_frame.Table.str.extract('(\d\d)(\D{6})(\d{4})(\s)(\d\d\W\d\d)(\s)(\D\d{11})')
        df_splite.columns = ['Day', 'Month', 'Year','blank1', 'Time', 'blank2', 'Claim']
        df_s = df_splite.drop(columns=['blank1', 'blank2'])

        d = df_s['Day'].values
        m = df_s['Month'].values
        t = df_s['Time'].values
        y = df_s['Year'].values
        c = df_s['Claim'].values

        d_list = list(df_s['Day'].values)
        m_list = list(df_s['Month'].values)
        t_list = list(df_s['Time'].values)
        y_list = list(df_s['Year'].values)
        c_list = list(df_s['Claim'].values)

In [8]:
data = []
for count, value in enumerate(all_data):
    data.append(value.text)
    data_frame = pd.DataFrame(data)
    data_frame.columns = ['Table']

    df_splite = data_frame.Table.str.extract('(\d\d)(\D{6})(\d{4})(\s)(\d\d\W\d\d)(\s)(\D\d{11})')
    df_splite.columns = ['Day', 'Month', 'Year','blank1', 'Time', 'blank2', 'Claim']
    df_s = df_splite.drop(columns=['blank1', 'blank2'])

    d = df_s['Day'].values
    m = df_s['Month'].values
    t = df_s['Time'].values
    y = df_s['Year'].values
    c = df_s['Claim'].values

    d_list = list(df_s['Day'].values)
    m_list = list(df_s['Month'].values)
    t_list = list(df_s['Time'].values)
    y_list = list(df_s['Year'].values)
    c_list = list(df_s['Claim'].values)

In [9]:
data = []
for count, value in enumerate(all_data):
    data.append(value.text)
    data_frame = pd.DataFrame(data)
    data_frame.columns = ['Table']

    df_splite = data_frame.Table.str.extract('(\d\d\D{6}\d{4})(\s)(\d\d\W\d\d)(\s)(\D\d{11})')
    df_splite.columns = ['DMY','blank1', 'Time', 'blank2', 'Claim']
    df_s = df_splite.drop(columns=['blank1', 'blank2'])

    d = df_s['DMY'].values
    t = df_s['Time'].values
    c = df_s['Claim'].values

    d_list = list(df_s['DMY'].values)
    t_list = list(df_s['Time'].values)
    c_list = list(df_s['Claim'].values)

In [10]:
df_s[1:15]

             DMY   Time         Claim
1   04/พ.ย./2564  15:55  S68421110184
2   04/พ.ย./2564  15:44  S68421100928
3   04/พ.ย./2564  15:35  S68421102189
4   04/พ.ย./2564  15:21  S68421100947
5   04/พ.ย./2564  15:16  S68421110684
6   04/พ.ย./2564  15:14  S68421110096
7   04/พ.ย./2564  15:14  S68421110677
8   04/พ.ย./2564  15:12  S68421110094
9   04/พ.ย./2564  15:12  S68421110675
10  04/พ.ย./2564  15:09  S68421110673
11  04/พ.ย./2564  15:07  S68421100926
12  04/พ.ย./2564  15:05  S68421110088
13  04/พ.ย./2564  15:02  S68421102929
14  04/พ.ย./2564  15:02  S68421110434

In [11]:
df_s

             DMY   Time         Claim
0            NaN    NaN           NaN
1   04/พ.ย./2564  15:55  S68421110184
2   04/พ.ย./2564  15:44  S68421100928
3   04/พ.ย./2564  15:35  S68421102189
4   04/พ.ย./2564  15:21  S68421100947
5   04/พ.ย./2564  15:16  S68421110684
6   04/พ.ย./2564  15:14  S68421110096
7   04/พ.ย./2564  15:14  S68421110677
8   04/พ.ย./2564  15:12  S68421110094
9   04/พ.ย./2564  15:12  S68421110675
10  04/พ.ย./2564  15:09  S68421110673
11  04/พ.ย./2564  15:07  S68421100926
12  04/พ.ย./2564  15:05  S68421110088
13  04/พ.ย./2564  15:02  S68421102929
14  04/พ.ย./2564  15:02  S68421110434
15  04/พ.ย./2564  15:01  S68421110685
16           NaN    NaN           NaN

In [12]:
df = df_s.loc[1:15]

In [13]:
df

             DMY   Time         Claim
1   04/พ.ย./2564  15:55  S68421110184
2   04/พ.ย./2564  15:44  S68421100928
3   04/พ.ย./2564  15:35  S68421102189
4   04/พ.ย./2564  15:21  S68421100947
5   04/พ.ย./2564  15:16  S68421110684
6   04/พ.ย./2564  15:14  S68421110096
7   04/พ.ย./2564  15:14  S68421110677
8   04/พ.ย./2564  15:12  S68421110094
9   04/พ.ย./2564  15:12  S68421110675
10  04/พ.ย./2564  15:09  S68421110673
11  04/พ.ย./2564  15:07  S68421100926
12  04/พ.ย./2564  15:05  S68421110088
13  04/พ.ย./2564  15:02  S68421102929
14  04/พ.ย./2564  15:02  S68421110434
15  04/พ.ย./2564  15:01  S68421110685

In [14]:
df[df.Claim.str.contains('9')]  #ค้นหา

             DMY   Time         Claim
2   04/พ.ย./2564  15:44  S68421100928
3   04/พ.ย./2564  15:35  S68421102189
4   04/พ.ย./2564  15:21  S68421100947
6   04/พ.ย./2564  15:14  S68421110096
8   04/พ.ย./2564  15:12  S68421110094
11  04/พ.ย./2564  15:07  S68421100926
13  04/พ.ย./2564  15:02  S68421102929

In [15]:
day = '04'
month = '/ก.ย./'
year = '2564'

In [9]:
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [39]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [16]:
items1 = [10,20,30,40]
items2 = [50,60,70,80]

items = [items1]+[items2]


cols = ['AA']

df = pd.DataFrame(items,columns=list('ABCD'))

In [17]:
df

    A   B   C   D
0  10  20  30  40
1  50  60  70  80

In [30]:
bl = df.A<=40

In [31]:
for idx , values in df.iterrows():
    if bl.loc[idx]==True:
        print('idx '+str(idx)+' มีค่า = True')
    else: print('idx '+str(idx)+' มีค่า = False')

idx 0 มีค่า = True
idx 1 มีค่า = False