In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pyautogui
import time
import os
import shutil
from selenium.webdriver.chrome.options import Options
import pandas as pd

In [2]:
driver = webdriver.Chrome(executable_path=r'C:\Users\sarav\Desktop\xyz88-master\chromedriver.exe')

In [3]:
driver.get('https://eclaim3.emcsthai.com/esurvey/frmLogin.aspx')
driver.maximize_window()
dcwh = driver.current_window_handle
driver.find_element_by_id('txtUserName').send_keys('noppadol@se.co.th')
driver.find_element_by_id('txtPassWord').send_keys('Sesurvey1501*')
driver.find_element_by_id('imbLogin').click()
driver.find_element_by_id('btnEnter').click()

In [4]:
allhandle_windows = driver.window_handles
for handle in allhandle_windows:
    if handle != dcwh:
        driver.switch_to_window(dcwh)

C:\Users\sarav\AppData\Local\Temp/ipykernel_14964/3003755061.py:4: DeprecationWarning: use driver.switch_to.window instead
  driver.switch_to_window(dcwh)

In [5]:
time.sleep(2)
driver.find_element_by_id('dgvInbox_ctl03_sname').click()

In [6]:
data = driver.find_elements_by_xpath('//*[@id="dgvList"]/tbody/tr')

In [7]:
all_data = []
for count , value in enumerate(data):
    if count > 0 and count < 16:
        all_data.append(value.text)
        data_frame = pd.DataFrame(all_data)
        data_frame.columns = ['Table']

        df_splite = data_frame.Table.str.extract('(\d\d)(\D{6})(\d{4})(\s)(\d\d\W\d\d)(\s)(\D\d{11})')
        df_splite.columns = ['Day', 'Month', 'Year','blank1', 'Time', 'blank2', 'Claim']
        df_s = df_splite.drop(columns=['blank1', 'blank2'])

        d = df_s['Day'].values
        m = df_s['Month'].values
        t = df_s['Time'].values
        y = df_s['Year'].values
        c = df_s['Claim'].values

        d_list = list(df_s['Day'].values)
        m_list = list(df_s['Month'].values)
        t_list = list(df_s['Time'].values)
        y_list = list(df_s['Year'].values)
        c_list = list(df_s['Claim'].values)

In [8]:
day = '16'
month = '/ก.ย./'
year = '2564'

In [9]:
df_s

   Day   Month  Year   Time         Claim
0   19  /ต.ค./  2564  15:58  S68421102015
1   19  /ต.ค./  2564  15:46  S68421102013
2   19  /ต.ค./  2564  15:25  S68421102012
3   19  /ต.ค./  2564  15:22  S68421102011
4   19  /ต.ค./  2564  15:16  S68421102009
5   19  /ต.ค./  2564  15:11  S68421102008
6   19  /ต.ค./  2564  14:56  S68421102007
7   19  /ต.ค./  2564  14:53  S68421102005
8   19  /ต.ค./  2564  14:49  S68421102000
9   19  /ต.ค./  2564  14:48  S68421101995
10  19  /ต.ค./  2564  14:43  S68421101994
11  19  /ต.ค./  2564  14:42  S68421101991
12  19  /ต.ค./  2564  14:39  S68421102486
13  19  /ต.ค./  2564  14:39  S68421101988
14  19  /ต.ค./  2564  14:33  S68421101987

In [10]:
print(c_list[1])

S68421102013

In [12]:
for col in df_s.columns:
    series = df_s[col]

In [13]:
series

0     S68421102015
1     S68421102013
2     S68421102012
3     S68421102011
4     S68421102009
5     S68421102008
6     S68421102007
7     S68421102005
8     S68421102000
9     S68421101995
10    S68421101994
11    S68421101991
12    S68421102486
13    S68421101988
14    S68421101987
Name: Claim, dtype: object

In [14]:
import pandas as pd

In [20]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
    )

In [21]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [22]:
df['Age']

0    22
1    35
2    58
Name: Age, dtype: int64

In [23]:
ages = pd.Series([22,35,58],name='Age')

In [24]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [26]:
df['Age'].max()

58

In [27]:
ages.max()

58

In [28]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [30]:
ages.head(2)

0    22
1    35
Name: Age, dtype: int64

In [31]:
ages.tail(2)

1    35
2    58
Name: Age, dtype: int64

In [33]:
ages > 35

0    False
1    False
2     True
Name: Age, dtype: bool

In [34]:
df['Age'] > 35

0    False
1    False
2     True
Name: Age, dtype: bool

In [38]:
a = lambda x : x + 10
print(a(5))

15